<button type="button" class="btn btn-primary" ripple-radius>New Recipe</button>
<div  
  *ngFor="let recipe of recipes">
  <!--Card-->
  <div class="card">

    <!--Card image-->
    <div class="view overlay hm-white-slight" ripple-radius>
      <img [src]="recipe.imagePath" class="img-fluid" alt="#">
      <a href="#">
        <div class="mask"></div>
      </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block">
      <!--Title-->
      <h4 class="card-title">{{recipe.name}}</h4>
      <hr>
      <!--Text-->
      <p class="card-text">{{recipe.description}}</p>
      <a href="#" class="btn btn-primary" ripple-radius>Button</a>
    </div>
    <!--/.Card content-->

  </div>
  <!--/.Card-->
</div>
 